{{! Previous/next page links - only displayed on page 2+ }}
<div class="row page-nav">
  {{pagination}}
</div>
<div class="row">
  {{! This is the post loop - each post will be output using this markup }}
  {{#foreach posts}}

      <div class="col-md-12 bgify" style="background-image: url({{image}});">
        <div class="bg-overlay bg{{@index}}"></div>
        <div class="main-content">
          <div class="inner-content">
            <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
            <p>{{excerpt words=50}} <a href="{{url}}">...</a> </p>
            <p class="post-meta">
              {{#if author.image}}<span><img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" /></span>{{/if}}
              <span class="auth">
                Posted by {{author}} {{tags prefix=" on " limit= 3}}
              <br>
              <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
            </span>
            </p>
          </div>
        </div>
      </div>


  {{/foreach}}
</div>

{{! Previous/next page links - displayed on every page }}
<div class="row page-nav">
  {{pagination}}
</div>
