{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}
{{#post}}



  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="post-hf">
        <h1 class="post-title">{{title}}</h1>
      </div>
      <div class="post-content">
        {{content}}
      </div>
      <div class="post-hf">
        <p>Posted by
          {{#author}}<a href="{{url}}">{{name}}</a>{{/author}} on {{date format="DD MMMM YYYY"}}</p>
        <p>Share this post
          <a class="icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <span class=""><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter </span>
          </a>
          or
          <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            <span class=""> <i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</span>
          </a>
        </p>
      </div>


    </div>
  </div>

{{/post}}
